<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Ullernklinikken AS</title>


   {{!-- CSS --}}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{{asset "css/master-min.css"}}" />



  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">


  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body class="{{body_class}}">


    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}

        {{{body}}}


    {{!-- The tiny footer at the very bottom --}}
    {{ghost_foot}}


    {{!-- Javascript --}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{asset "js/all-scripts-min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/map-min.js"}}"></script>


</body>
</html>
